.setbg(@color) {
  background: @color
}

.verticalCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  .setbg(@bgColor);
  .verticalCenter();
}

.mineArea {
  >.unknow {
    background:@unknow;
  }
  >.mine{
    border-radius:3px;
    text-align:center;
    line-height:25px;
  }
  >.open{
    background:@open;
  }
  >.boom{
    color:@boom;
  }
}